<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Screen</title>
    <script th:src="@{/Js/gamePage.js}" defer></script>
</head>
<body>
<h1 align="center">Ransom Notes Online</h1>
<p align="center" th:utext="${ClientName}">by Lanta</p>

<hr>
<div align="center" th:each="prompt : ${ClientPrompts}">
    <p th:utext="${prompt}"></p>
</div>
<hr>
<div align="center" th:each="word : ${ClientWords}">
    <p th:utext="${word}"></p>
</div>
<button id="submit">Submit Response</button>
<button id="gameEnd">EndGame</button>
</body>
</html>